@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

body{
    font-family: 'DynaPuff',sans-serif;
    background-color: #231955;
}
.title{
    color: #FFE5B4;
    font-size: 32px;
    font-family: 'DynaPuff', cursive;
    text-align: center;
}

#choose-mokepon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subtitle{
    color: #FFE5B4;
    font-size: 20px;
}
.cards, .card-mokepon, .card-attacks{
    display: flex;
    gap: 10px;
}
.cards input{
    display: none;
}
.cards input:checked + label{
    background-color: #E8AA42;
    color:#1F4690;
}
.card-mokepon{
    align-items: center;
    background-color: #1F4690;
    border-radius: 20px;
    box-sizing: border-box;
    color: #FFE5B4;
    flex-direction: column;
    justify-content:center;
    padding: 0;
}
.card-mokepon p{
    margin: 0;
}
.card-mokepon img{
    width: 80px;
}
.card-mokepon, .battle-result{
    height: 150px;
}
.card-mokepon, .lives-mokepon{
    width: 100px;
}
#button-mokepon, #button-restart{
    margin-top: 20px; 
}
#button-mokepon, .button-attack, #button-restart{
    background:transparent;
    border: 2px solid #FFE5B4;
    border-radius: 20px;
    color:#FFE5B4;
    font-family: 'DynaPuff', cursive;
    padding: 10px;
    width: 120px;
}
#battle-arena{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
#battle-arena-result, #battle-result{
    color:#FFE5B4;
}
.battle{
    display: grid;
    grid-template-columns: 100px 200px 100px;
    color: #FFE5B4;
    margin-top: 20px;
}
#battle-result{
    align-items: center;
    display:flex;
    flex-direction: column;
    overflow: auto;
    width: 200px;    
}
#battle-result p{
    font-size: 14px;
    margin: 0;
}
.lives-mokepon{
    background-color: #3EC70B;
    height: 5px;
}

@media (max-width:360px) {
    .cards, .card-attacks{
        flex-wrap: wrap;
    }
}